.header {
  padding-top: 30px;
  padding-bottom: 24px;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.header-logo svg {
  width: 30px;
  height: auto;
  display: block;
  color: #5c3a3a;
}
.header-logo span {
  line-height: 28px;
  font-size: 24px;
  font-weight: 700;
  margin-left: 6px;
  color: #883c3c;
}
.btn {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn-outline {
  background-color: transparent;
  color: #5c3a3a;
}
.btn-primary {
  background-color: #e8b4b8;
  color: white;
}
.header-burger {
  width: 30px;
  height: 19px;
  display: none;
}
.header-burger img {
  width: 24px;
  height: auto;
}
@media (max-width: 786px) {
  .header-controls {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .header-burger img {
    width: 24px;
  }
}
